@import url("normalize.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@import "vars.scss";

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: $white;
    color: $black;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 100%;
    max-width: $breakpoint-xl;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.star {
    background-image: url("/img/icons/star.svg");
    width: 18px;
    height: 18px;
}