@import url("normalize.css");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@import "vars.scss";

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: $white;
    color: $black;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

/* Clases para colores de fondo */
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-accent {
    background-color: $accent !important;
}

.bg-highlight {
    background-color: $highlight !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-dark {
    background-color: $dark !important;
}

/* Clases para colores de texto */
.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-accent {
    color: $accent !important;
}

.text-highlight {
    color: $highlight !important;
}

.text-dark {
    color: $dark !important;
}

/* Clases para colores de texto en fondo claro */
.text-white {
    color: $white !important;
}

/* Clases para colores de texto en fondo oscuro */
.text-black {
    color: $black !important;
}


.container {
    width: 100%;
    max-width: $breakpoint-xl;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}